.katex .textrm,
.katex .mathit,
.katex .mathbf,
.katex .mainrm {
    font-family: KaTeX_Main !important;
}

.katex .textsf,
.katex .mathsf,
.katex .textsf,
.katex .mathboldsf,
.katex .textboldsf,
.katex .mathitsf,
.katex .mathsfit,
.katex .textitsf {
    font-family: KaTeX_SansSerif !important;
}

.katex .texttt,
.katex .mathtt {
    font-family: KaTeX_Typewriter !important;
}

.katex .mathnormal,
.katex .boldsymbol {
    font-family: KaTeX_Math !important;
}

.katex .boldsymbol,
.katex .mathboldsf,
.katex .textboldsf,
.katex .mathboldfrak,
.katex .textboldfrak,
.katex .mathbf {
    font-weight: 700;
}

.katex .mathnormal,
.katex .mathit,
.katex .boldsymbol,
.katex .mathitsf,
.katex .mathsfit,
.katex .textitsf {
    font-style: italic;
}

.katex .mathrm,
.katex .mainrm {
    font-style: normal !important;
}

.katex .amsrm,
.katex .mathbb,
.katex .textbb {
    font-family: KaTeX_AMS !important;
}

.katex .mathcal {
    font-family: KaTeX_Caligraphic !important;
}

.katex .mathfrak,
.katex .textfrak,
.katex .mathboldfrak,
.katex .textboldfrak {
    font-family: KaTeX_Fraktur !important;
}

.katex .mathscr,
.katex .textscr {
    font-family: KaTeX_Script !important;
}

/* Delimiter sizing */
.katex .delimsizing.size1,
.katex .delimsizing.mult .delim-size1>span,
.katex .op-symbol.small-op {
    font-family: KaTeX_Size1 !important;
}

.katex .delimsizing.size2,
.katex .op-symbol.large-op {
    font-family: KaTeX_Size2 !important;
}

.katex .delimsizing.size3 {
    font-family: KaTeX_Size3 !important;
}

.katex .delimsizing.size4,
.katex .delimsizing.mult .delim-size4>span {
    font-family: KaTeX_Size4 !important;
}

.arithmatex,
.katex,
.katex-mathml {
    direction: ltr !important;
}

.arithmatex {
    unicode-bidi: plaintext;
    /*display: inline-block;*/
}

.katex-display {
    direction: ltr;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.katex {
    font: normal 1.1em KaTeX_Main, Times New Roman, serif;
    /*font: normal 1.21em KaTeX_Main, Times New Roman, serif;*/
}